body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li a{
    text-decoration: none;
    list-style: none;
}

h1{
    display: flex;
    align-items: center;
}

.info{
    width: 100%;
}

.main-img, .info{
    width: 80%;
}